* { margin: 0; border: none; padding: 0; }
body { font-family: 'Goudy Bookletter 1911', times, serif; font-size: 16px; color: #111; }
header { text-align: center; }
#wrapper { float: none; width: 1000px; margin: 0 auto; padding: 10px 0 65px 10px; }
article { margin-bottom: 10px; overflow: auto; }
.container {
	width: 100%;
}
.container div { float: left; overflow: hidden; margin-right: 10px; margin-bottom: 10px; }
div.gear input:not([type="checkbox"]) { border-right: none; border-bottom: none; }
label { display: block; font-size: 16px; line-height: 20px; height: 20px; text-align: center; margin: 0; cursor: default; }
input:not([type="checkbox"]) {
	height: 28px;
	padding: 5px;
	border: 1px solid rgba(84,75,49,0.7);
	font-family: 'Caudex', times, serif;
	font-size: 20px;
	text-align: center;
	color: #111;
	margin: 0;
}
textarea {
	height: 588px;
	width: 188px;
	padding: 5px;
	border: 1px solid rgba(84,75,49,0.7);
	font-family: 'Goudy Bookletter 1911', times, serif;
	font-size: 18px;
	color: #111;
}
#wrapper div.black { background: #000; color: #fff; text-align: center; }
#wrapper div.black span { font-size: 30px; line-height: 40px; }
#wrapper div.black label { font-size: 12px; }
#wrapper div.small label { font-size: 12px; line-height: 10px; }
#wrapper div.stand-alone label { font-size: 30px; line-height: 40px; height: 40px; }
#wrapper div label.skill { float: left; font-size: 18px; line-height: 40px; height: 40px; text-align: left; }
#wrapper div label.skill-ability { font-size: 18px; line-height: 40px; height: 40px; text-align: right; }
#wrapper div label.totals { font-size: 30px; line-height: 40px; height: 40px; text-align: right; }
#wrapper div.tick { text-align: center; line-height: 40px; height: 40px; }
input.skill-name { float: right; width: 120px !important; }
textarea.location { width: 128px; }
textarea.weight { width: 68px; }
div.gear { min-height: 40px; }
div.token { display: inline-block; padding: 0 8px; height: 38px; line-height: 38px; border: 1px solid rgba(84,75,49,0.7); border-radius: 3px; margin-right: 10px; font-size: 18px; }
div.token:hover { cursor: pointer; }
div.token em { font-style: normal; padding: 0 5px; color: #555; }
div.token-add { height: 40px; width: 40px; margin: 0; line-height: 38px; text-align: center; font-size: 28px; font-weight: bold; background: #000; border-radius: 3px; color: #fff; cursor: pointer; margin-right: 10px; }
div.token span.location { color: rgba(0, 0, 0, 0.5); font-size: 13px; vertical-align: top; }
div.token.marked {
	box-shadow: inset -1px -1px 0 1px rgba(84,75,49,0.7);
}

div.token span.school {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	vertical-align: top;
	padding-left: 5px;
}

div.token .counts {
	margin: 0;
	display: inline-block;
	float: none;
}

div.token span.cast {
	display: block;
	background: rgba(0, 0, 0, 0.3);
	float: right;
	height: 10px;
	margin: 14px 0 0 5px;
	width: 10px;
	border-radius: 3px;
}

div.token span.prepared {
	display: block;
	background: rgba(0, 0, 0, 1);
	float: right;
	height: 10px;
	margin: 14px 0 0 5px;
	width: 10px;
	border-radius: 3px;
}

div.token span.at-will {
	padding-left: 5px;
	font-weight: bold;
}

.with-delete button:last-of-type { background: url(../images/gradient-red-dark.png) repeat-x 50% 50%; border: 1px solid #721a1a; color: #e6b0b0; }
.with-delete button:last-of-type:hover { background: url(../images/gradient-red.png) repeat-x 50% 50%; border: 1px solid #a52727; color: #ffc4c4; }
#wrapper div.spell-container { margin-right: 0; }
.action-buttons {
	text-align: center;
}
header h1 { text-transform: uppercase; margin: 0 0 20px 0; font-size: 35px; background: none; padding: 0 !important; }
header h1:hover { cursor: auto; }
#status {
	position: fixed;
	bottom: 80px;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	float: none;
	padding-top: 8px;
}
#status.ng-hide-add,
#status.ng-hide-remove {
	-webkit-transition: 0.5s ease all;
	transition: 0.5s ease all;
	display: block !important;
	/*opacity: 1;*/
	transform: translate3D(0, 0, 0);
}
#status.ng-hide {
	/*opacity: 0;*/
	-webkit-transform: translate3D(0, 28px, 0);
	transform: translate3D(0, 28px, 0);
}
#status div {
	width: 240px;
	height: 20px;
	margin: 0 auto;
	background: #646358;
	float: none;
	color: #eee;
	padding: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
footer {
	position: fixed;
	width: 100%;
	height: 80px;
	left: 0;
	bottom: 0;
	background: #000;
	text-align: center;
}
footer nav { width: 1010px; margin: 0 auto; }
footer a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	height: 80px;
	line-height: 16px;
	padding-top: 8px;
	box-sizing: border-box;
	width: 97px;
}
footer a:last-of-type {
	border-right: none;
}
footer a:hover, footer a:focus { color: #fff; cursor: pointer; }
footer nav img {
	border: none;
}
footer p {
	display: inline-block;
	color: #bbb;
	font-weight: bold;
	padding: 10px 15px 0 15px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	height: 80px;
	vertical-align: top;
	width: 90px;
}
aside { height: 20px; line-height: 20px; position: fixed; left: 0; bottom: 40px; }
p.logo { height: 130px; margin-top: 30px; }
button, [role='button'] {
	box-shadow: inset 0 -3px 0 0 #68544a;
	background: linear-gradient(to bottom, #473827 5%, #382d20 100%);
	background-color: #473827;
	border-radius: 3px;
	border: 1px solid #240d00;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Goudy Bookletter 1911', times, serif; font-size: 16px;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 #4d3534;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.33;
}
button:hover, [role='button']:hover {
	background-color: #382d20;
	color: #ddd;
	text-decoration: none;
}
button:active, [role='button']:active {
	position: relative;
	top: 3px;
	box-shadow: none;
	color: #ddd;
}
button.add {
	font-size: 20px;
	height: 50px;
	margin: 0 3px;
}
button.add-ac-item {
	float: left;
	margin: 0;
	width: 120px;
}
nav ul {
	list-style: none;
	margin: 0;
}
nav.main {
	width: 500px;
	margin: 0 auto;
}
nav.main li > button, nav.main li > [role='button'] {
	width: 100%;
	font-size: 22px;
	padding: 20px;
	margin-bottom: 10px;
}
nav.main h2 {
	background-color: #7c6b53;
	display: inline-block;
	color: #ffffff;
	font-family: 'Goudy Bookletter 1911', times, serif;
	font-weight: normal;
	text-shadow: 0 1px 0 #4d3534;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.33;
	width: 100%;
	font-size: 22px;
	padding: 20px;
	margin-bottom: 10px;
}
.removeable {
	cursor: pointer;
	position: relative;
	transition: all 0.2s ease;
}
.removeable:hover {
	opacity: 0.5;
	color: #333 !important;
}
.removeable:hover:after {
	content: 'X';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: #fff !important;
	width: 100%;
	height: 100%;
	line-height: 100%;
}
.space-top {
	margin-top: 20px !important;
}
.character-list {
	margin-bottom: 30px;
}
.character-list div, .archived-characters-list div {
	float: none;
}
.character-list time {
	display: block;
	clear: left;
	opacity: 0.4;
	padding-top: 10px;
	max-width: 320px;
}
.character-slip {
	background: url(../images/bg-paper-2.jpg);
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}
.character-slip h1 {
	margin: 0 0 10px 0;
	padding: 0;
	text-align: left;
	line-height: 1;
}
.character-slip p {
	margin-bottom: 0;
}
.character-slip .title {
	float: left;
	max-width: 220px;
}
.character-slip .actions {
	float: right;
	margin-left: 20px;
}
.character-slip .actions a, .character-slip .actions button {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.character-slip div {
	margin: 0;
}
.character-archive-slip {
	box-sizing: border-box;
	background: url(../images/bg-paper-2.jpg);
	width: 100%;
	padding: 10px;
	margin: 0;
	display: flex;
}
.character-archive-slip p {
	flex: 5;
	align-self: center;
}
.character-archive-slip button {
	flex: 1;
	padding: 1px 5px;
	margin-left: 10px;
}
#wrapper .download, #wrapper .delete {
	vertical-align: bottom;
}

input[type='checkbox'] {
	margin: 0 0 10px 0;
	vertical-align: middle;
	line-height: 1;
	font-size: 20px;
}

.container .login-head {
	float: none;
	margin: 0;
	text-align: center;
}
.attributions {
	opacity: 0.4;
	padding: 4em 3em 1em 3em;
	font-style: italic;
	clear: both;
}
.clearfix{*zoom:1}.clearfix:after,.clearfix:before{display:table;content:"";line-height:0}.clearfix:after{clear:both}

h1 { font-size: 30px; line-height: 40px; text-align: center; margin: 0 10px 10px 0; font-weight: bold; padding-left: 28px; }
h1 span { float: right; line-height: 40px; opacity: 0.2; }
h1 span a { display: inline-block; width: 28px; height: 28px; margin: 6px 0 0 0; }
h1 span a.expand-collapse { background: url(../images/icon-minus.png); }
h1 span a.expand-collapse.collapsed { background: url(../images/icon-plus.png); }
.new-line { clear: both; }
.left { text-align: left !important; }
.lh40 { line-height: 40px !important; }
.spells-cast-slots { text-align: left !important; }

.ngdialog-close {
	display: none;
}
.ngdialog {
	padding-top: 80px;
	padding-bottom: 20px;
}
.ngdialog-content {
	padding: 0;
	width: 840px;
	margin: 0 auto;
	color: #fff;
	background: transparent;
	border-radius: 6px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ngdialog-overlay {
	z-index: -1;
}
.modal-header {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 15px;
	background: #111;
	border-bottom: 2px solid #333;
}
.modal-body {
	padding: 15px;
	background: #222;
}
.modal-body input, .modal-body textarea {
	border: 1px solid rgba(84, 75, 49, 0.7);
	font-family: 'Caudex', times, serif;
	padding: 5px;
	color: #111;
	font-size: 16px;
	margin: 0;
	width: 390px;
	text-align: left;
}
.modal-body textarea {
	height: 120px;
}
.modal-body label {
	font-size: 16px;
	cursor: text;
	text-align: left;
}
.modal-body p {
	margin-bottom: 10px;
}
.modal-body .first-half,
.modal-body .second-half {
	width: 50%;
	float: left;
}
.modal-body .second-half input,
.modal-body .second-half textarea {
	width: 405px;
}
.modal-footer {
	border-top: 2px solid #333;
	background: #111;
	padding: 15px;
	text-align: right;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.modal-footer button {
	font-size: 20px;
}

.spell-description {
	background: url(../images/bg-paper-2.jpg);
	border: 1px solid rgba(84, 75, 49, 0.7);
	font-family: 'Caudex', times, serif;
	padding: 5px;
	color: #111;
	font-size: 16px;
	margin: 0;
	width: 405px;
	height: 410px;
	text-align: left;
	overflow: auto;
}

.spell-description div {
	padding: 0;
}
.spell-description div.heading {
	padding: 0;
	background-color: #222;
	height: 22px;
}
.spell-description hr {
	height: 1px;
	background-color: #222;
}
.spell-description h1 {
	font-size: 13px;
}
.spell-description h2 {
	font-size: 13px;
	text-align: left;
}
.spell-description h3 {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: -20px;
	text-indent: 0;
	font-size: 16;
	font-weight: normal;
}
.spell-description h4 {
	text-indent: 10px;
	text-align: justify;
	font-size: 13px;
	font-weight: normal;
}
.spell-description p {
	margin: 0;
	padding: 0;
}
.spell-description h5 {
	font-weight: normal;
}
.spell-description h6 {
	font-size: 13px;
	font-weight: normal;
}
.spell-description p.alignleft {
	text-indent: 5px;
	font-weight: bold;
	color: white;
}
.spell-description p.alignright {
	float: right;
	text-align: right;
	font-weight: bold;
	color: white;
}
.spell-description li {
	text-indent: 0;
}

.float-left {
	float: left;
	margin-right: 10px;
}

#loading-bar .bar {
	background: #000;
}
#loading-bar .peg {
	box-shadow: 0 0 10px #000, 0 0 5px #000;
}
#loading-bar-spinner .spinner-icon {
	border-top-color: #000;
	border-left-color: #000;
}

.autocomplete {
	position: relative;
	overflow: visible !important;
}
.autocomplete input,
.autocomplete label {
	text-align: left;
}
.autocomplete ul {
	padding: 10px;
	margin: 0;
	list-style: none;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	color: #eee;
	position: absolute;
	top: 45px;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	z-index: 100;
}
.autocomplete li:hover,
.autocomplete li:focus {
	background: #333;
	color: #fff;
	cursor: pointer;
}
.ngdialog-content .autocomplete {
	width: 380px;
}
.ngdialog-content .autocomplete ul {
	top: 35px;
}

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.3);
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.3);
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.3);
}
:-ms-input-placeholder {
   color: rgba(0, 0, 0, 0.3);
}
.statblock div {
	float: none;
	margin: 0 0 0 10px;
}
.statblock h3 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 16px;
	text-transform: uppercase;
}
.statblock .skills > span {
	text-transform: capitalize;
}
.statblock textarea {
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	margin-top: 10px;
	font-size: 20px;
}
.statblock input {
	margin-top: 10px;
	text-align: left;
}
.statblock .actions {
	text-align: right;
	margin: 10px 0;
}
.statblock .actions button {
	font-size: 22px;
	padding: 5px 25px;
}
.statblock hr {
	border-top: 1px solid #000;
	margin-top: 20px;
}
.statblock .comment {
	margin: 10px 0 0 0;
	background: url(../images/bg-paper-2.jpg);
	padding: 10px;
}
.statblock .comment button {
	padding: 1px 5px;
}
.statblock .comment small {
	margin-right: 5px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
}
.statblock .comment div {
	text-align: right;
}
.statblock [name="commentForm"] {
	margin-top: 15px;
}
.StatBlockCtrl header {
	display: none;
}
.StatBlockCtrl #wrapper {
	box-sizing: border-box;
	width: 100%;
	max-width: 1000px;
	padding: 20px;
}
.StatBlockCtrl [role="navigation"] {
	text-align: center;
}

.icon-home {
	background-image: url(../images/icon-house.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position-x: 5px;
}

.icon-download {
	background-image: url(../images/icon-arrow-down.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position-x: 5px;
}

.icon-edit {
	background-image: url(../images/icon-pen.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position-x: 5px;
}

.icon-share {
	background-image: url(../images/icon-share.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-position-x: 5px;
}

.w30 { width: 30px; } .w30 input:not([type="checkbox"]) { width: 18px; }
.w40 { width: 40px; } .w40 input:not([type="checkbox"]) { width: 28px; }
.w50 { width: 50px; } .w50 input:not([type="checkbox"]) { width: 38px; }
.w60 { width: 60px; } .w60 input:not([type="checkbox"]) { width: 48px; }
.w70 { width: 70px; } .w70 input:not([type="checkbox"]) { width: 58px; }
.w80 { width: 80px; } .w80 input:not([type="checkbox"]) { width: 68px; }
.w90 { width: 90px; } .w90 input:not([type="checkbox"]) { width: 78px; }
.w100 { width: 100px; } .w100 input:not([type="checkbox"]) { width: 88px; }
.w110 { width: 110px; } .w110 input:not([type="checkbox"]) { width: 98px; }
.w120 { width: 120px; } .w120 input:not([type="checkbox"]) { width: 108px; }
.w130 { width: 130px; } .w130 input:not([type="checkbox"]) { width: 118px; }
.w140 { width: 140px; } .w140 input:not([type="checkbox"]) { width: 128px; }
.w150 { width: 150px; } .w150 input:not([type="checkbox"]) { width: 138px; }
.w160 { width: 160px; } .w160 input:not([type="checkbox"]) { width: 148px; }
.w170 { width: 170px; } .w170 input:not([type="checkbox"]) { width: 158px; }
.w180 { width: 180px; } .w180 input:not([type="checkbox"]) { width: 168px; }
.w190 { width: 190px; } .w190 input:not([type="checkbox"]) { width: 178px; }
.w200 { width: 200px; } .w200 input:not([type="checkbox"]) { width: 188px; }
.w220 { width: 220px; } .w220 input:not([type="checkbox"]) { width: 208px; }
.w240 { width: 240px; } .w240 input:not([type="checkbox"]) { width: 228px; }
.w260 { width: 260px; } .w260 input:not([type="checkbox"]) { width: 248px; }
.w270 { width: 270px; } .w270 input:not([type="checkbox"]) { width: 258px; }
.w290 { width: 290px; } .w290 input:not([type="checkbox"]) { width: 278px; }
.w300 { width: 300px; } .w300 input:not([type="checkbox"]) { width: 288px; }
.w310 { width: 310px; } .w310 input:not([type="checkbox"]) { width: 298px; }
.w350 { width: 350px; } .w350 input:not([type="checkbox"]) { width: 338px; }
.w360 { width: 360px; } .w360 input:not([type="checkbox"]) { width: 348px; }
.w370 { width: 370px; } .w370 input:not([type="checkbox"]) { width: 358px; }
.w380 { width: 380px; } .w380 input:not([type="checkbox"]) { width: 368px; }
.w400 { width: 400px; } .w400 input:not([type="checkbox"]) { width: 388px; }
.w440 { width: 440px; } .w440 input:not([type="checkbox"]) { width: 428px; }
.w510 { width: 510px; } .w510 input:not([type="checkbox"]) { width: 498px; }
.w570 { width: 570px; } .w570 input:not([type="checkbox"]) { width: 558px; }
.w580 { width: 580px; } .w580 input:not([type="checkbox"]) { width: 568px; }
.w700 { width: 700px; } .w700 input:not([type="checkbox"]) { width: 688px; }
.w760 { width: 760px; } .w760 input:not([type="checkbox"]) { width: 748px; }
.w800 { width: 800px; } .w800 input:not([type="checkbox"]) { width: 788px; }
.w820 { width: 820px; } .w800 input:not([type="checkbox"]) { width: 808px; }
.w840 { width: 840px; } .w840 input:not([type="checkbox"]) { width: 828px; }
.w850 { width: 850px; } .w850 input:not([type="checkbox"]) { width: 838px; }
.w880 { width: 880px; } .w880 input:not([type="checkbox"]) { width: 868px; }
.w890 { width: 890px; } .w890 input:not([type="checkbox"]) { width: 878px; }
.w900 { width: 900px; } .w900 input:not([type="checkbox"]) { width: 888px; }
.w940 { width: 940px; } .w980 input:not([type="checkbox"]) { width: 928px; }
.w980 { width: 980px; } .w980 input:not([type="checkbox"]) { width: 968px; }
.w990 { width: 990px; } .w990 input:not([type="checkbox"]), .w990 textarea { width: 978px !important; }
.h40 { height: 40px; }
.h60 { height: 60px; }
.h320 { height: 320px; }
.h420 { height: 420px; }
.h620 { height: 620px; }
.i60 { width: 60px !important; }
.i80 { width: 80px !important; }
.i100 { width: 100px !important; }

/* --- Default Theme --- */

body { background: #cbbe9f url(../images/bg-paper-2.jpg); }
#wrapper { background: url(../images/bg-paper-1.jpg) repeat left top; box-shadow: 0px 0px 30px rgba(84,75,49,0.7); }
#wrapper input.auto-calc { color: #663; background: url(../images/bg-paper-2-auto-calc.jpg); }
#wrapper input.using-temp-modifier { color: #633; background: url(../images/bg-paper-2-adjusted.jpg); }
#wrapper div.token { background: url(../images/bg-paper-2.jpg); }
div input:not([type="checkbox"]) { background: url(../images/bg-paper-2.jpg); }
div textarea { background: url(../images/bg-paper-2.jpg); }
.modal-dialog .spell-description { background: url(../images/bg-paper-2.jpg); }
footer {
	background: linear-gradient(#333, #000);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.important-notice {
	padding: 30px;
	background-color: #b81d08;
	margin-top: -10px;
	margin-left: -10px;
}
.important-notice h1 {
	margin-top: 0;
	color: #fff;
	text-shadow: 3px 3px 0 #6c0505;
}
.important-notice sup {
	color: #fff;
	text-shadow: 2px 2px 0 #6c0505;
	margin-left: 0;
	font-size: 0.6em;
}
.important-notice p, .important-notice a {
	color: #fff;
	text-shadow: 1px 1px 0 #6c0505;
}

.support-notice {
	background-color: #DFCFA6;
	display: flex;
	justify-content: center;
	padding: 10px;
	align-items: center;
	margin: -10px 0 0 -10px;
}
.support-notice p {
	margin: 0 3px;
}
.support-notice a {
	color: #473827;
}
.support-notice .btn-container {
	min-width: auto;
}
