<div class="modal-header">
	<h3><span ng-hide="mode == 'edit'">Add</span><span ng-show="mode == 'edit'">Edit</span> Spell</h3>
</div>
<div class="modal-body clearfix">
	<div class="first-half">
		<p><label>Name</label><auto-complete model="item.name" values="spellNames" style="width: 310px"></auto-complete></p>
		<p><label>Level</label><input name="spell-level" type="number" ng-model="item.level" class="i60"></p>
		<p><label>School</label><input name="spell-school" type="text" ng-model="item.school"></p>
		<p><label>Subschool</label><input name="spell-subschool" type="text" ng-model="item.subschool"></p>
		<div class="clearfix">
			<div class="float-left"><label>Prepared</label><input name="spell-prepared" type="number" class="i60" ng-model="item.prepared"></div>
			<div class="float-left"><label>Cast</label><input name="spell-cast" type="number" class="i60" ng-model="item.cast"></div>
		</div>
	</div>
	<div class="second-half">
		<p><label>Description</label><textarea name="spell-description" ng-model="item.description" style="height: 154px"></textarea></p>
		<p><label>Notes</label><textarea name="spell-notes" ng-model="item.notes"></textarea></p>
	</div>
</div>
<div class="modal-footer">
	<button ng-click="close()">Ok</button>
	<button ng-click="dismiss()" ng-hide="mode == 'edit'">Cancel</button>
	<button ng-click="prepare()" ng-show="mode =='edit'">+ Prepare</button>
	<button ng-click="cast()" ng-show="mode =='edit'">+ Cast</button>
	<button ng-click="clearCounts()" ng-show="mode =='edit'">Clear Counts</button>
	<button ng-click="remove()" ng-show="mode =='edit'">{{deleteText}}</button>
</div>
