body{font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif}.viewport-slider-container{height:100%;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:-webkit-transform 1s cubic-bezier(0, 0, 0.25, 1);-moz-transition:-moz-transform 1s cubic-bezier(0, 0, 0.25, 1);-o-transition:-o-transform 1s cubic-bezier(0, 0, 0.25, 1);transition:transform 1s cubic-bezier(0, 0, 0.25, 1)}.viewport-slide{width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.viewport-slider-paginator{position:fixed;z-index:100;top:50%;right:17px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.viewport-slider-paginator ul{margin:0;padding:0}.viewport-slider-paginator li{display:block;width:14px;height:13px;margin:7px}.viewport-slider-paginator a{position:relative;display:block;width:100%;height:100%;cursor:pointer;text-decoration:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.viewport-slider-paginator a:hover .label{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.viewport-slider-paginator .label{position:absolute;top:-1px;right:12px;min-width:100px;padding-right:13px;font-size:12px;color:#aaa;text-align:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear}.viewport-slider-paginator .bullet{position:absolute;z-index:1;top:5px;left:5px;width:4px;height:4px;background-color:#aaa;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease}.viewport-slider-paginator .active .bullet{top:2px;left:2px;width:10px;height:10px;border:1px solid #aaa;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body, html {
	height: 100%;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Caudex', Georgia, serif;
	font-size: 1.3em;
	color: #312407;
	text-shadow: 1px 1px 0 #c2af89;
}
* {
	box-sizing: border-box;
}
h1, h2, h3 {
	font-family: 'Goudy Bookletter 1911', Georgia, serif;
}
h1 {
	font-size: 3em;
	text-shadow: 3px 3px 0 #c2af89;
}
a {
	color: #312407;
	text-decoration: underline;
	font-weight: bold;
}
input[type="email"] {
	font-family: 'Caudex', Georgia, serif;
	font-size: 1.3em;
	color: #312407;
	background: url(images/bg-paper-2.jpg);
	padding: 0.1em 0.5em;
	border-radius: 3px;
	border: 1px solid rgba(84,75,49,0.7);
	margin: 0;
}
#logo {
	max-width: 660px;
}
.slide {
	position: relative;
	display: table;
	text-align: center;
}
.slide div {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.slide:nth-child(odd) div {
	background-color: #f0ece4;
}
.slide:nth-child(even) div {
	background-color: #e7e0d0;
}
.attributions {
	font-size: 0.75em;
	opacity: 0.5;
	padding: 5em;
}
button, [role='button'] {
	box-shadow: inset 0 -3px 0 0 #68544a;
	background: linear-gradient(to bottom, #473827 5%, #382d20 100%);
	background-color: #473827;
	border-radius: 3px;
	border: 1px solid #240d00;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Goudy Bookletter 1911', times, serif; font-size: 16px;
	font-size: 1.3em;
	font-weight: normal;
	padding: 0.1em 0.5em;
	text-decoration: none;
	text-shadow: 0 1px 0 #4d3534;
	text-align: center;
	box-sizing: border-box;
}
button:hover, [role='button']:hover {
	background-color: #382d20;
	color: #ddd;
	text-decoration: none;
}
button:active, [role='button']:active {
	position: relative;
	top: 3px;
	box-shadow: none;
	color: #ddd;
}
label {
	font-size: 1.3em;
}
::-webkit-input-placeholder {
	color: rgba(49, 36, 5, 0.5);
}
:-moz-placeholder {
	color: rgba(49, 36, 5, 0.5);
}
::-moz-placeholder {
	color: rgba(49, 36, 5, 0.5);
}
:-ms-input-placeholder {
	color: rgba(49, 36, 5, 0.5);
}
.iso-grid {
	background-image: url(images/screenshot-iso-grid.jpg);
	background-size: cover;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
figure {
	max-width: 50%;
	float: right;
	margin: 0;
	padding: 1em 3em 1em 1em;
}
ul {
	text-align: left;
}
.left-col {
	width: 50%;
	float: left;
	padding-left: 3em;
}
sup {
	font-size: 0.5em;
	margin-left: 0.5em;
	text-transform: uppercase;
	color: #DFCFA6;
}
.launch {
	font-size: 2em;
	padding: 0.2em 1em 0.3em 1em;
	margin: 0.6em 0 0 0;
}
small {
	max-width: 50%;
	margin: 1em auto 3em auto;
	display: block;
	font-size: 0.75em;
	text-shadow: none;
	opacity: 0.5;
}
small sup {
	color: inherit;
	font-size: 1em;
	margin-right: 0.2em;
}
.important-notice {
	padding: 30px;
	background-color: #b81d08;
}
.important-notice h1 {
	margin-top: 0;
	color: #fff;
	text-shadow: 3px 3px 0 #6c0505;
}
.important-notice sup {
	color: #fff;
	text-shadow: 2px 2px 0 #6c0505;
	margin-left: 0;
	font-size: 0.6em;
}
.important-notice p, .important-notice a {
	color: #fff;
	text-shadow: 1px 1px 0 #6c0505;
}
.support-notice {
	background-color: #DFCFA6;
	display: flex;
	justify-content: center;
	padding: 10px;
	align-items: center;
}
.support-notice p {
	margin: 0 3px;
}
.support-notice .btn-container {
	min-width: auto;
}
